html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

*{
    margin: 0;
}

body {
    margin: 0;
}

.pagina {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

header {
    padding: 1.2em;
    background-color: #319190;
    box-shadow: 0 0 0.9em #7c7c7c;
    border-color: #319190;
    color: white;
}

.tabela {
    color: white;
    margin: 1.5em;
    padding: 0.4em;
    background-color: #641900;
    border-radius: 0.5em;
    box-shadow: 0 0 0.9em #7c7c7c;
    border-color: #e73a00;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease;
}

.tabela:hover {
    transform: translateY(1em);
}

table {
    display: flex;
    flex-direction: column;
    align-items: center;
}

th, td{
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    padding-left: 3em;
    padding-right: 3em;
}

th {
    border-bottom: 0.15em solid white;
}

.direitos-reservados {
    color: white;
}

footer {
    box-shadow: 0 0 0.9em #7c7c7c;
    background-color: #260d0d;
    text-align: center;
    padding: 4em;
}
